.sidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
}
#menu li a {
  text-align: left;
}
#menu .fa {
  font-size: 1em;
  display: inline-block;
  width: 2em;
  text-align: center;
}
#menu .fa-angle-right {
  width: 1em;
}


dd {
    margin-bottom: 20px;
}



.form_btn {
  display: inline-block;
  padding: 0.8em 1.5em;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.btn_success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn_default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.div_form .div_show {
  display: block !important;
}
.div_form .div_edit {
  display: none !important;
}
.edit .div_show {
  display: none !important;
}
.edit .div_edit {
  display: block !important;
}

.inner-block {
  z-index: -1;
  padding-bottom: 7em;
  display: grid;
}
.table_operate a {
  color: inherit;
}
.table_operate a:hover {
  color: #FC8213;
}

.img_picture {
  border-radius: 50%;
}

.copyrights {
  position: fixed;
  bottom: 0;
  width: 87%;
  z-index: 1;
  background-color: #fff;
}
